image: docker:latest

services:
  - docker:dind

cache:
  key: "maven-cache"
  paths:
    - .m2/repository

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  
before_script:
  - echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY

build_docker_dev:
  stage: build
  script:
    - docker pull $CI_REGISTRY_IMAGE:dev  || true
    - DOCKER_BUILDKIT=1 docker build -f src/dev/docker/Dockerfile --cache-from $CI_REGISTRY_IMAGE:dev -t $CI_REGISTRY_IMAGE:dev .
    - docker push $CI_REGISTRY_IMAGE:dev

build_docker:
  stage: build
  script:
    - export COMPONENT_VERSION=$(grep '<version>' $CI_PROJECT_DIR/pom.xml |head -n1| awk -F '>' '{ print $2 }' | awk -F '<' '{ print $1 }')
    - docker pull $CI_REGISTRY_IMAGE:$COMPONENT_VERSION  || true
    - DOCKER_BUILDKIT=1 docker build -f src/main/docker/Dockerfile --cache-from $CI_REGISTRY_IMAGE:$COMPONENT_VERSION -t $CI_REGISTRY_IMAGE:$COMPONENT_VERSION .
    - docker push $CI_REGISTRY_IMAGE:$COMPONENT_VERSION
    
buil_test_site:
  stage: test
  needs: ["build_docker_dev"]
  script:
    - docker pull $CI_REGISTRY_IMAGE:dev || true
    - docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v $CI_PROJECT_DIR:/app -v $CI_PROJECT_DIR/.m2/repository:/root/.m2/repository -t $CI_REGISTRY_IMAGE:dev mvn -B -fn clean compile test-compile javadoc:javadoc javadoc:test-javadoc verify site post-site
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, "instructions covered"; print 100*covered/instructions, "% covered" }' target/site/jacoco/jacoco.csv || true
    - cp -r target/site public
  dependencies:
    - build_docker_dev
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
    paths:
      - public
      - target/site/jacoco/jacoco.xml

coverage:
  stage: deploy
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.7
  script:
    - python /opt/cover2cover.py target/site/jacoco/jacoco.xml $CI_PROJECT_DIR/src/main/java/ > target/site/cobertura.xml
  needs: ["buil_test_site"]
  dependencies:
    - buil_test_site
  artifacts:
    reports:
      cobertura: target/site/cobertura.xml